.start
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 400px;
	height: 500px;
	text-align: center;
	background-color: #00a3a3;
	opacity: 0.70;
	
}

.lgn
{
	background-color: #ffff3d;
	background-size: cover;
}

.txtbox
{
	margin-top: 15px;
	background: white;
	text-align: start;
	font size: 15px;
	font-family: sans-serif;
	height: 30px;
	width: 300px;
	padding: 15px;
	border-radius: 5px;
	border: none;
}

.btn
{
	width: 300px;
	height: 40px;
	border-radius: 10px;
	font-size: 20px;
	background-color: lightgreen;

}

.btn:hover{
	background-color: red;
}

.img
{
	height: 40%;
	width: 35%;
}
