*
{
	margin: 0;
	padding: 0;
}

.container
{
	display: grid;
	height: 100vh;
	grid-template-columns: 0.8fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 3fr;
	grid-template-areas: 
			"sidebar nav nav nav"
			"sidebar main main main"
}

.tblEmpInfo
{
	margin-left: auto;
	margin-right: auto;
}